node_modules/
out/
dist/
*.db
*.db-journal
*.db-shm
*.db-wal
.env


serviceAccountKey.json
google-services.json

# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/

# Generated plugin files
.flutter-plugins
.flutter-plugins-dependencies


# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini
